body{
    background-color: #C6CF9B;
}
h1{
    background-color:#F6ECA9 ;
    color: black ;
    border: black solid 2px ;
}
.everything{
    font-family: Ubuntu;
    text-align: center;
}

img{
    background-color: #F6ECA9;
    height: auto;
    width: auto;
    padding: 10px ;
    border : black solid 2px !important;
   
}

#imageone img{
    height: 50%;
    width: 50%;
}
#imagetwo img{
    width: 50%;
    height: 50%;
}

div h2{
    background-color: #F6ECA9 ;
    color: black;
    padding: 2px;
    border: black solid 2px ;
}

